@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400 & display=swap'); */
* body {
        max-width: 1369px;
        margin: 0 auto;
        height: 0;
        font-family: 'Poppins', sans-serif;
    }
      
    div .btn {
        background: #AB9988;
        color: rgb(255, 255, 255);
        font-size: 14px;
        height: 40px;
        border: none;
    }    
    div .btn-lg:hover  {
        background: #8a7a6c;
        color: rgb(255, 255, 255);
        border: none;
    } 

    /* faça sua */
    .text-center h6 {
        font-size: 14px;
        color: #AB9988;
        letter-spacing: 0.4px;
        font-weight: 500;
    }

    /* Inscrição aqui */
    .text-center a {
        font-size: 14px;
        color: #AB9988;
        font-weight: 400;
    }

    .text-center a:hover {
        color: #64584d;
}

/*  Smartphone Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*  Smartphone Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 320px){
    body {
        margin-top: 70px;
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 130px;
    }
    .card {
        width: 340px;
    }
    .card-body{
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        color: white;
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
    }
} 

/*  Smartphone Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body {
        margin-top: 70px;
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 100px;
    }
    .card {
        width: 400px;
    }
    .card-body{
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        color: white;
        font-size: 25px;
        margin-top: 20px;
        text-align: center;
    }
} 

/*  Tablet Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body {
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 120px;
    }
    .card {
        width: 400px;
    }
    .card-body{
        padding: 15px;
    }
}

/*  Tablet Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){
    body {
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 180px;
    }
    .card-body{
        padding: 20px;
    }
}

/* Notebooks e PCs Modernos  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){
    .body {
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 180px;
    }
    .card {
        width: 400px;
    }
    .card-body{
        padding: 15px;
    }
}

/* Notebooks e PCs Modernos  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px){
    body {
        background-color: #ab9980;
    }
    .mx-auto {
        margin-top: 180px;
        height: 400px;
    }
    .card {
        width: 400px;
    }
    .card-body{
        height: 50px;
        padding: 20px;
    }
}